body, td{
	font-family: Arial;
	font-size: 10pt;
	vertical-align:top;
}

.navBg{
	background-color:#EAE9E1;
	white-space:nowrap
}

.error{
	color: red;
	font-weight:bold;
}

.success{
	color: green;
	font-weight:bold;
}
