<?xml version="1.0" encoding="UTF-8"?>
<!--
$Id: applicationContext.xml 30503 2010-02-02 09:59:27Z vermas1 $
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.stocks"/>

	<tx:annotation-driven />
	
	<aop:aspectj-autoproxy />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dev.properties</value>
            </list>
        </property>
    </bean>
    
	<!-- 
		Class.forName("com.mysql.jdbc.Driver").newInstance();
		final Connection connection = DriverManager.getConnection("jdbc:mysql://10.12.84.67/ind_stocks?user=root&password=password");
     -->
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://IN2-KASALR1-D1/ind_stocks" />
		<property name="username" value="root" />
		<property name="password" value="password" />
     </bean>
     
     <!-- bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
     	<property name="dataSource" ref="dataSource"></property>
     </bean -->
     
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="${show.sql}"/>
                <property name="generateDdl" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
            </bean>
        </property>
        <property name="persistenceUnitName" value="ejb3Persistence" />
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    
    <bean id="dao" abstract="true" />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<!-- EntityManager is Autoinjected by PersistenceAnnotationBeanPostProcessor -->
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <!-- Start: Spring Services -->
    <bean id="stockService" class="com.stocks.service.impl.StockServiceImpl">
		<property name="alertDao" ref="alertDao" />
		<property name="nyseAlertDao" ref="nyseAlertDao" />
		<property name="bseIciciMappingDao" ref="bseIciciMappingDao" />
		<property name="keyValueDao" ref="keyValueDao" />
		<property name="bseDao" ref="bseDao" />
		<property name="nyseDao" ref="nyseDao" />
		<property name="reportDao" ref="reportDao" />
		<property name="holidayDao" ref="holidayDao" />
    </bean>

    <bean id="bseImportService" class="com.stocks.service.impl.BseImportServiceImpl">
		<property name="downloadFolder" value="${bse.download.folder}" />
		<property name="stockService" ref="stockService" />
		<property name="bseDao" ref="bseDao" />
    </bean>

    <bean id="nyseImportService" class="com.stocks.service.impl.NyseImportServiceImpl">
		<property name="downloadFolder" value="${nyse.download.folder}" />
		<property name="stockService" ref="stockService" />
		<property name="nyseDao" ref="nyseDao" />
    </bean>
    <!-- End: Spring Services -->

    <!-- Start: Statistics -->
    <bean id="intraDayStatistics" class="com.stocks.service.statistics.IntraDayStatistics">
		<property name="stockService" ref="stockService" />
    </bean>
    <!-- End: Statistics -->
	
    
    <!-- Start: Strategies -->
    <bean id="pastWeekdaySuccessBasedStrategy" class="com.stocks.service.strategy.impl.PastWeekdaySuccessBasedStrategy">
		<property name="stockService" ref="stockService" />
    </bean>
    <!-- End: Strategies -->
    
    <!-- Start: Strategy Simulator -->
    <bean id="strategySimulator" class="com.stocks.service.strategysimulation.impl.StrategySimulator">
		<property name="stockService" ref="stockService" />
    </bean>
    <!-- End: Strategy Simulator -->
    
    <!-- Start: Commands -->
    <bean id="abstractCommand" class="com.stocks.command.AbstractCommand" abstract="true">
		<property name="stockService" ref="stockService" />
		<property name="percentCompleteReporter" ref="percentCompleteReporter" />
    </bean>

	<bean id="bseReportCommand" class="com.stocks.command.BseReportCommand" parent="abstractCommand" />

	<bean id="nyseReportCommand" class="com.stocks.command.NyseReportCommand" parent="abstractCommand" />

	<bean id="bseAlertReportCommand" class="com.stocks.command.BseAlertReportCommand" parent="abstractCommand" />

	<bean id="nyseAlertReportCommand" class="com.stocks.command.NyseAlertReportCommand" parent="abstractCommand" />

	<bean id="nyseNPercentCorrectionInMMonthsReportCommand" class="com.stocks.command.NyseNPercentCorrectionInMMonthsReportCommand" parent="abstractCommand" />

	<bean id="nyseNPercentUpFromBottomCommand" class="com.stocks.command.NyseNPercentUpFromBottomCommand" parent="abstractCommand" />

	<bean id="nyseNPercentUpFromBottomSimulationCommand" class="com.stocks.command.NyseNPercentUpFromBottomSimulationCommand" parent="abstractCommand" />

	<bean id="nyseBreakingHighsEachTimeCommand" class="com.stocks.command.NyseBreakingHighsEachTimeCommand" parent="abstractCommand" />

	<bean id="reportChain" class="com.stocks.command.ChainBase">
		<constructor-arg type="java.util.Collection">
			<list value-type="org.apache.commons.chain.Command">
				<bean class="com.stocks.command.SchedulePercentCompleteReporterTimerTaskCommand">
					<property name="timer" ref="timer" />
					<property name="percentCompleteReporter" ref="percentCompleteReporter" />
				</bean>
				<ref bean="bseReportCommand" />
				<ref bean="nyseReportCommand" />
				<ref bean="bseAlertReportCommand" />
				<ref bean="nyseAlertReportCommand" />
				<ref bean="nyseNPercentCorrectionInMMonthsReportCommand" />
				<ref bean="nyseNPercentUpFromBottomCommand" />
				<ref bean="nyseNPercentUpFromBottomSimulationCommand" />
				<ref bean="nyseBreakingHighsEachTimeCommand" />
				<bean class="com.stocks.command.CancelPercentCompleteReporterTimerTaskCommand">
					<property name="percentCompleteReporter" ref="percentCompleteReporter" />
				</bean>
			</list>
		</constructor-arg>
	</bean>
    <!-- End: Commands -->
    
    <!-- Start: AOP -->
    <bean id="timer" class="java.util.Timer" />
    <bean id="percentCompleteReporter" class="com.stocks.util.PercentCompleteReporter">
    	<property name="percentComplete">
    		<value type="java.lang.Double">0</value>
    	</property>
    </bean>
    <!-- bean id="timerAspect" class="com.stocks.aspect.TimerAspect">
    	<property name="timer" ref="timer" />
    	<property name="percentCompleteReporter" ref="percentCompleteReporter" />
    </bean -->
    <!-- End: AOP -->
    
    <!-- Start: DAO -->
    <bean id="alertDao" 
    	class="com.stocks.dao.impl.AlertDaoImpl"
    	parent="dao" />

    <bean id="nyseAlertDao" 
    	class="com.stocks.dao.impl.NyseAlertDaoImpl"
    	parent="dao" />
    
    <bean id="bseIciciMappingDao" 
    	class="com.stocks.dao.impl.BseIciciMappingDaoImpl"
    	parent="dao" />
    
	<bean id="bseDao"
		class="com.stocks.dao.impl.BseDaoImpl"
		parent="dao" />

	<bean id="nyseDao"
		class="com.stocks.dao.impl.NyseDaoImpl"
		parent="dao" />

	<bean id="keyValueDao"
		class="com.stocks.dao.impl.KeyValueDaoImpl"
		parent="dao" />
    
    <bean id="reportDao"
    	class="com.stocks.dao.impl.ReportDaoImpl"
    	parent="dao" />

    <bean id="holidayDao"
    	class="com.stocks.dao.impl.HolidayDaoImpl"
    	parent="dao" />
    <!-- End: DAO -->

</beans>
