<?xml version="1.0" encoding="UTF-8"?>
<!--
$Id: applicationContext.xml 30503 2010-02-02 09:59:27Z vermas1 $
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.stocks"/>

	<tx:annotation-driven />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dev.properties</value>
            </list>
        </property>
    </bean>
    
	<!-- 
		Class.forName("com.mysql.jdbc.Driver").newInstance();
		final Connection connection = DriverManager.getConnection("jdbc:mysql://10.12.84.67/ind_stocks?user=root&password=password");
     -->
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.12.84.67/ind_stocks" />
		<property name="username" value="root" />
		<property name="password" value="password" />
     </bean>
     
     <!-- bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
     	<property name="dataSource" ref="dataSource"></property>
     </bean -->
     
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="${show.sql}"/>
                <property name="generateDdl" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
            </bean>
        </property>
        <property name="persistenceUnitName" value="ejb3Persistence" />
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    
    <bean id="dao" abstract="true" />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<!-- EntityManager is Autoinjected by PersistenceAnnotationBeanPostProcessor -->
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <!-- Start: Spring Services -->
    <bean id="stockService" class="com.stocks.service.impl.StockServiceImpl">
		<property name="alertDao" ref="alertDao" />
		<property name="bseIciciMappingDao" ref="bseIciciMappingDao" />
		<property name="keyValueDao" ref="keyValueDao" />
    </bean>

    <bean id="bseImportService" class="com.stocks.service.impl.BseImportServiceImpl">
		<property name="downloadFolder" value="${bse.download.folder}" />
		<property name="stockService" ref="stockService" />
		<property name="bseDao" ref="bseDao" />
    </bean>

    <bean id="nyseImportService" class="com.stocks.service.impl.NyseImportServiceImpl">
		<property name="downloadFolder" value="${nyse.download.folder}" />
		<property name="stockService" ref="stockService" />
		<property name="nyseDao" ref="nyseDao" />
    </bean>
    <!-- End: Spring Services -->
    
    <!-- Start: DAO -->
    <bean id="alertDao" 
    	class="com.stocks.dao.impl.AlertDaoImpl"
    	parent="dao">
    </bean>
    
    <bean id="bseIciciMappingDao" 
    	class="com.stocks.dao.impl.BseIciciMappingDaoImpl"
    	parent="dao">
    </bean>
    
	<bean id="bseDao"
		class="com.stocks.dao.impl.BseDaoImpl"
		parent="dao">
    </bean>

	<bean id="nyseDao"
		class="com.stocks.dao.impl.NyseDaoImpl"
		parent="dao">
    </bean>

	<bean id="keyValueDao"
		class="com.stocks.dao.impl.KeyValueDaoImpl"
		parent="dao">
    </bean>
    <!-- End: DAO -->
    
</beans>
